body {
    background-image: url("img/bg1.jpg");
}

/*
// Header
*/

#logo {
    background: url("img/logo.png") no-repeat center center white; 
}

#activites .img {
    background-repeat: none;
}
#activites .act_alpinisme .img {
    background: url("img/act_alpinisme.jpg");
}

#activites .act_escalade .img {
    background: url("img/act_escalade.jpg");
}

#activites .act_skirando .img {
    background: url("img/act_hiver.jpg");
}


/******************/
/* Mobile version */
/******************/

@media (max-width: 700px) {
body { background: white; }
}
