body {
    background-image: url("img/bg1.jpg");
}

/*
// Header
*/

#logo {
    background: url("img/logo.png") no-repeat center center #b21a17;
}

#activites .img {
    background-repeat: none;
}
#activites .act_alpinisme .img {
    background: url("img/act_alpinisme.jpg");
}

#activites .act_escalade .img {
    background: url("img/act_escalade.jpg");
}

#activites .act_randonnee .img {
    background: url("img/act_randonnee.jpg");
}

#activites .act_skirando .img {
    background: url("img/act_skirando.jpg");
}
