* {
    padding: 0px;
    margin: 0px;
}

body {
}

.page_content {
    margin: 4px auto;
    width: 900px;
}

.block_content {
    position: relative;
}


/*
// Generic
*/

.tableul {
    display: table;
    width: 100%;
}

.tableul > ul {
    display: table-row;
    list-style: none;
}

.tableul > ul > li {
    display: table-cell;
}

/* 
// Header
*/

#header {
    padding-bottom: 30px;
}

#logo {
    width: 130px;
    height: 180px;
    float: left;
    clear: both;
    overflow: hidden;
}
#logo a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#header_right {
    float: right;
    overflow: hidden;
    width: 770px;
}

#slogan {
    text-align: right;
    margin: 1em;
}


#activites {
    text-align: center;
}

#activites ul {
    padding: 0px;
    margin: 0px;
}

#activites ul li {
    display: inline-block;
    margin: 0px 45px;
}

#activites ul li .txt {
    width: 100px;
    text-align: center;
    margin: auto;
}

#activites ul li .img {
    width: 100px;
    height: 39px;
    margin: auto;
}



#permaliens {
    padding: 0.4em 0px;
}

#permaliens li {
    padding: 0px;
    width: 25%;
    text-align: center;
}


/*
// Main
*/

#main {
}

#main .mcontent {
    clear: both;
    float: left;
    width: 600px;
    overflow: hidden;
    padding: 15px;
}


#main .bloc_accueil {
    width: 302px;
    display: inline-block;
}

#main .aside {
    float: right;
    width: 240px;
    overflow: hidden;
    padding: 10px;
}


/*
// Footer
*/

#footer {
    margin-top: 10px;
}

#footer .border_top {
    height: 20px;
}

#footer_content {
}

#footer_content > ul > li {
    width: 25%;
}

#footer_content > ul > li > span {
    display: block;
    padding: 0.5em 0.5em 0px 12px;
    margin-bottom: 0.5em;
}

#footer_content > ul > li > ul {
    padding: 0px 10px 0.5em 25px;
    list-style: disc;
}

#footer_content > ul > li > ul {
}

#footer .border_bottom {
    padding: 0px 4px;
    text-align: center;
}


/******************/
/* Mobile version */
/******************/

@media (max-width: 900px) {

.page_content { width: 100%; }

#logo { display: none; }
#header_right { float: none; width: 100%; }

#main .mcontent,
#main .aside {
    width: inherit;
    float: none;
}

#main .aside { margin-top: 1em; }


}

@media (max-width: 600px) {
#slogan { margin: 5px; }
#activites > ul > li { margin: 0px; width: 30%; }
#footer_content > ul, #permaliens > ul { display: block; padding: 0px; }
#footer_content > ul > li { display: block; width: inherit; }
#permaliens > ul > li { display: inline-block; text-align: left; border: 0px; width: auto; padding: 0px 10px; }
}
