/*
// Generic
*/

body {
    color: white;
    font: 1em/1.5em 'Open Sans',sans-serif,Georgia,Cambria,Times New Roman,Times,serif;
    background-size: cover;
    background-color: white;
    background-attachment: fixed;
}

.transbg {
    background-color: black;
    background-color: rgba(0,0,0,0.9);
}

.fg_section {
    color: #7e1713;
}
.fg_alpinisme {
    /*color: #ff8a00;*/
    color: #aeae00;
}
.fg_escalade {
    color: #ff5000;
}
.fg_randonnee {
    color: #aeae00;
}
.fg_hiver {
    color: #2999d9;
}


.bg_section {
    background-color: #7e1713 !important;
}
.bg_alpinisme {
    background-color: #aeae00 !important;
}
.bg_escalade {
    background-color: #ff5000 !important;
}
.bg_hiver {
    background-color: #2999d9 !important;
}


/*
// Header
*/

.header a {
    color: white;
    text-decoration: none;
}
.header a:hover {
    text-decoration: underline;
}
.header a:active {
    outline: none;
}

#slogan {
    font-size: 1.5em;
    color: #a00000;
    font-style: italic;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
}
#slogan > span {
    color: white;
}

#activites .txt {
    font-weight: bold;
}

#permaliens li {
    border-left: 1px solid white;
}
#permaliens li:last-child { border-left: 0px; }

#permaliens a {
    font-size: 1.2em;
}
#permaliens a:hover {
    color: #b21a17;
    text-decoration: none;
}

#permaliens input {
    border: 1px solid black;
    height: 1.5em;
}
#permaliens input[type=text] {
    width: 150px;
}
#permaliens input[type=submit] {
    background-color: black;
    color: white;
}

/*
// Main
*/

/*
// Article
*/

#main .arbo {
    margin-bottom: 0.5em;
    font-size: 0.8em;
}

body .cartouche {
    background-color: black;
}
body.secteur2 .cartouche {
    background-color: #7e1713;
}
body.secteur3 .cartouche {
    background-color: #ff5000;
}
body.secteur4 .cartouche {
    background-color: #aeae00;
}
body.secteur5 .cartouche {
    background-color: #2999d9;
}

.cartouche {
    padding: 0.8em;
    margin-bottom: 1.8em;
}

.cartouche h1 { margin: 0px; }

#main .texte {
    text-align: justify;
}


body.secteur2 h3,
body.secteur2 .to_top {
    color: #7e1713;
}
body.secteur3 h3,
body.secteur3 .to_top {
    color: #ff5000;
}
body.secteur4 h3,
body.secteur4 .to_top {
    color: #aeae00;
}
body.secteur5 h3,
body.secteur5 .to_top {
    color: #2999d9;
}


#main .to_top {
    float: right;
    font-size: 1.5em;
}

/* Aside */

.aside { font-size: 0.9em; }
.aside h3 {
    font-size: 1.4em;
    text-transform: uppercase;
    text-align: center;
    margin: 0.6em 0px 0.3em 0px;
    color: white !important;
}
.aside ul {
    padding-left: 1em;
}
.aside li {
}
.aside span {
    font-weight: bold;
}

/*
// Footer
*/

#footer { font-size: 0.8em; }
#footer .border_top,
#footer .border_bottom {
    background-color: black;
    text-transform: uppercase;
}
#footer .border_bottom .red {
    color: #a31815;
}

#footer_content > ul > li > span {
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.5);
}

#footer a {
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}


